pkgbase = lyrebird
	pkgdesc = Simple and powerful voice changer for Linux, written in Python & GTK
	pkgver = 1.2.0
	pkgrel = 1
	url = https://github.com/lyrebird-voice-changer/lyrebird
	arch = any
	license = MIT
	depends = python>=3.7
	depends = python-toml
	depends = gtk3
	depends = python-gobject
	depends = sox
	depends = libsoxr
	depends = pipewire-pulse
	provides = lyrebird
	conflicts = lyrebird
	source = https://github.com/lyrebird-voice-changer/lyrebird/archive/v1.2.0.tar.gz
	source = lyrebird.desktop
	sha256sums = 0f880b4e441656ab6aa54527a7441031ea55ad58c4d02a44f03667fda581a050
	sha256sums = 4469b6297dcdbfe49cc88d79dd7918d5850a36f7fce5b9f0969e36d209db0a7f

pkgname = lyrebird